.divider {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.title {
    font-size: 2rem;
    position: relative;
    text-align: center;
}

@keyframes leftRight {
    0% {
        width: 0%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 0%;
    }
}

@media (max-width: 768px) {
    .divider {
        row-gap: 2rem;
        grid-template-columns: 1fr;
    }
}
